* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

img {
    pointer-events: none;
    user-select: none;
}

button {
    font-family: inherit;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2, h3 {
    font-weight: inherit;
}

input {
    font-family: inherit;
    border: 0;
}

label {
    cursor: pointer;
}